@import './components/mergingRect.scss';

#main{
    width: 100%;
    height: 100%;
    div {
        position: relative;
        border-top: 1px solid burlywood;
        row{
            display: flex;
            border-left: 1px solid burlywood;
            border-bottom: 1px solid burlywood;
            cell{
                text-align: center;
                flex: 1;
                border-right: 1px solid burlywood;
            }
        }
    }
    // background-color: dodgerblue
    
}
